.community .parereMedici {
  padding-bottom: 110px;
}
.community .parereMedici .titolo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 26px 38px 0 38px;
  width: 100%;
  margin-bottom: 17px;
}
.community .parereMedici .titolo .testo {
  font-weight: 700;
  font-size: 20px;
  line-height: 26.04px;
}
.community .parereMedici .titolo .profilo {
  background-color: var(--roso);
  height: 42px;
  width: 42px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
}
.community .parereMedici .titolo .profilo .utenteIniziale {
  font-family: 'Blenny';
  font-size: 35px;
  color: var(--beige);
}
.community .parereMedici .opinioni {
  display: flex;
  overflow-x: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
  padding: 0 16px;
  gap: 12px;
}
.community .parereMedici .opinioni::-webkit-scrollbar {
  display: none;
}
.community .parereMedici .opinioni .opinione {
  min-width: 235px;
  height: 235px;
  background-color: var(--nero);
  border-radius: 30px;
  padding: 22px 19px;
  position: relative;
}
.community .parereMedici .opinioni .opinione .headerOpinione {
  display: flex;
  align-items: flex-end;
  gap: 19px;
  padding-bottom: 14px;
  border-bottom: 1px solid var(--roso);
  margin-bottom: 14px;
}
.community .parereMedici .opinioni .opinione .headerOpinione .foto {
  width: 77px;
  height: 77px;
  object-fit: cover;
}
.community .parereMedici .opinioni .opinione .headerOpinione .nome {
  font-weight: 300;
  font-size: 14px;
  line-height: 18.23px;
  color: var(--beige);
}
.community .parereMedici .opinioni .opinione .citazione {
  font-weight: 700;
  font-size: 26px;
  line-height: 27.83px;
  color: var(--beige);
}
.community .parereMedici .opinioni .opinione .marcatore {
  color: var(--beige);
  position: absolute;
  top: 22px;
  right: 19px;
  transition: 0.3s;
}
.community .parereMedici .opinioni .opinione .marcatore:hover {
  color: var(--roso);
}
.community .parereMedici .ricette {
  margin: 25px 0 31px 0;
}
.community .parereMedici .ricette .titoloRicette {
  font-weight: 700;
  line-height: 26.04px;
  font-size: 20px;
  margin-bottom: 30px;
  padding: 0 38px;
}
.community .parereMedici .ricette .glide {
  padding-bottom: 16px;
}
.community .parereMedici .ricette .ricettaContenuto {
  padding: 0 16px;
}
.community .parereMedici .ricette .ricettaContenuto .ricetta {
  background-color: var(--nero);
  width: 100%;
  border-radius: 30px;
  padding: 8px 27px 8px 7px;
  display: flex;
  gap: 15px;
  align-items: center;
  position: relative;
}
.community .parereMedici .ricette .ricettaContenuto .ricetta .foto {
  height: 143px;
  width: 135px;
  object-fit: cover;
}
.community .parereMedici .ricette .ricettaContenuto .ricetta .infoRicetta .nome {
  font-weight: 700;
  line-height: 27.83px;
  font-size: 26px;
  color: var(--beige);
  padding-bottom: 8px;
  border-bottom: 1px solid var(--roso);
}
.community .parereMedici .ricette .ricettaContenuto .ricetta .infoRicetta .descrizione {
  font-weight: 300;
  line-height: 18.23px;
  font-size: 14px;
  color: var(--beige);
  margin-top: 8px;
  height: 28px;
  overflow: visible;
}
.community .parereMedici .ricette .ricettaContenuto .ricetta .marcatore {
  color: var(--beige);
  position: absolute;
  top: 39px;
  right: 28px;
  transition: 0.3s;
}
.community .parereMedici .ricette .ricettaContenuto .ricetta .marcatore:hover {
  color: var(--roso);
}
.community .parereMedici .ricette .glide__bullets {
  bottom: 0;
}
.community .parereMedici .ricette .glide__bullets .glide__bullet {
  width: 13.05px;
  height: 5px;
  background-color: #00000033;
  border-radius: 25px;
}
.community .parereMedici .ricette .glide__bullets .glide__bullet--active {
  background-color: var(--roso);
}
.community .parereMedici .retiSocialiContenuto .titoloRetiSociali {
  font-weight: 400;
  line-height: 19.53px;
  font-size: 15px;
  margin-bottom: 8px;
  text-align: center;
  color: #00000080;
}
.community .parereMedici .retiSocialiContenuto .retiSociali {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  gap: 7px;
}
.community .parereMedici .retiSocialiContenuto .retiSociali .reteSociale {
  width: 45px;
  height: 45px;
  border-radius: 10px;
  background-color: #0000001A;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.3s;
}
.community .parereMedici .retiSocialiContenuto .retiSociali .reteSociale .icon {
  color: var(--nero);
  transition: 0.3s;
}
.community .parereMedici .retiSocialiContenuto .retiSociali .reteSociale:hover {
  background-color: var(--nero);
}
.community .parereMedici .retiSocialiContenuto .retiSociali .reteSociale:hover .icon {
  color: var(--roso);
}
.community .articoloMedico {
  position: fixed;
  height: 100vh;
  width: 100%;
  background-color: var(--nero);
  top: 0;
  z-index: 100;
  overflow-y: scroll;
  padding-bottom: 110px;
  display: none;
  opacity: 0;
}
.community .articoloMedico.attivato {
  display: block;
}
.community .articoloMedico.mostrare {
  opacity: 1;
  animation: animazioneMostrareArticolo;
  animation-duration: 0.5s;
}
.community .articoloMedico.nascondere {
  opacity: 0;
  animation: animazioneNascondereArticolo;
  animation-duration: 0.5s;
}
.community .articoloMedico .headerArticolo {
  padding: 26px 38px 0 38px;
}
.community .articoloMedico .headerArticolo .headerContenuto {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--roso);
  padding-bottom: 47px;
}
.community .articoloMedico .headerArticolo .headerContenuto .medico {
  display: flex;
  align-items: center;
  gap: 19px;
}
.community .articoloMedico .headerArticolo .headerContenuto .medico .foto {
  height: 77px;
  width: 77px;
  object-fit: cover;
  gap: 19px;
}
.community .articoloMedico .headerArticolo .headerContenuto .medico .nome {
  font-weight: 400;
  font-size: 15px;
  line-height: 19.53px;
  color: var(--beige);
}
.community .articoloMedico .headerArticolo .headerContenuto .chiudiArticolo {
  background-color: #0000;
  border: none;
  padding: 0;
}
.community .articoloMedico .headerArticolo .headerContenuto .chiudiArticolo .icon {
  color: var(--beige);
}
.community .articoloMedico .titolo {
  font-weight: 400;
  font-size: 26px;
  line-height: 27.83px;
  color: var(--beige);
  padding: 38px;
}
.community .articoloMedico .informazioni {
  padding: 0 38px;
  font-weight: 300;
  font-size: 18px;
  line-height: 23.44px;
  color: var(--beige);
}
.community .articoloMedico .informazioni .didascalia {
  font-weight: 900;
}
.community .articoloMedico .informazioni ul {
  padding-left: 25px;
}
.community .articoloMedico .informazioni img {
  width: calc(100% + 44px);
  margin: 0 -22px;
  border-radius: 30px;
  overflow: hidden;
}
.community .articoloMedico .indietro {
  background-color: #0000;
  padding: 38px;
  border: none;
}
@keyframes animazioneMostrareArticolo {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes animazioneNascondereArticolo {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
