.inizioSessione {
  display: none;
  opacity: 0;
}
.inizioSessione.attivato {
  display: block;
}
.inizioSessione.mostrare {
  opacity: 1;
  animation: animazioneSpettacolo;
  animation-duration: 1s;
}
.inizioSessione .inizioSessioneContenuto {
  display: grid;
  grid-template-rows: 69px 69px 1fr;
  height: 100vh;
  width: 100%;
}
.inizioSessione .inizioSessioneContenuto .ritorno {
  margin: 30px 22px 17px 22px;
  background-color: #0000;
  border: none;
  width: 11px;
  height: 22px;
  padding: 0;
  cursor: pointer;
}
.inizioSessione .inizioSessioneContenuto .ritorno.nascondere {
  opacity: 0;
  pointer-events: none;
}
.inizioSessione .inizioSessioneContenuto .ritorno .icon {
  color: var(--nero);
  object-fit: contain;
  width: 11px;
  height: 22px;
  transition: 0.3s;
}
.inizioSessione .inizioSessioneContenuto .ritorno:hover .icon {
  color: var(--roso);
}
.inizioSessione .inizioSessioneContenuto .logo {
  display: block;
  margin: 0 auto;
}
.inizioSessione .inizioSessioneContenuto .benvenuto {
  padding-bottom: 67px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  display: none;
}
.inizioSessione .inizioSessioneContenuto .benvenuto.attivato {
  display: flex;
}
.inizioSessione .inizioSessioneContenuto .benvenuto .informazioni {
  display: flex;
  height: calc(100% - 122px);
  align-items: center;
  justify-content: center;
}
.inizioSessione .inizioSessioneContenuto .benvenuto .informazioni .testo {
  font-size: 24px;
  line-height: 31.25px;
  text-align: center;
  font-weight: 700;
}
.inizioSessione .inizioSessioneContenuto .benvenuto .azioni {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  min-height: 122px;
}
.inizioSessione .inizioSessioneContenuto .benvenuto .azioni .testoCreaAccount {
  color: #00000073;
  font-weight: 400;
  font-size: 16px;
  line-height: 20.83px;
  margin-top: 3px;
}
.inizioSessione .inizioSessioneContenuto .benvenuto .azioni .pulsanteRegistrati {
  color: var(--roso);
  display: block;
  font-size: 16px;
  font-weight: 800;
  line-height: 20.83px;
  border: none;
  background-color: #0000;
  transition: 0.3s;
}
.inizioSessione .inizioSessioneContenuto .benvenuto .azioni .pulsanteRegistrati:hover {
  color: var(--nero);
  font-size: 17px;
}
.inizioSessione .inizioSessioneContenuto .accedi {
  padding-bottom: 67px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  display: none;
}
.inizioSessione .inizioSessioneContenuto .accedi.attivato {
  display: block;
}
.inizioSessione .inizioSessioneContenuto .accedi .modulo {
  display: flex;
  height: calc(100% - 122px);
  align-items: center;
  justify-content: center;
  width: 100%;
  flex-direction: column;
}
.inizioSessione .inizioSessioneContenuto .accedi .modulo .inputContenitore {
  width: 100%;
  margin-bottom: 15px;
}
.inizioSessione .inizioSessioneContenuto .accedi .modulo .inputContenitore span {
  font-weight: 400;
  font-size: 15px;
  color: var(--beige);
  display: block;
  margin-bottom: 15px;
  text-align: center;
}
.inizioSessione .inizioSessioneContenuto .accedi .modulo .inputContenitore input {
  background-color: #FCF3E61A;
  border-radius: 20px;
  border: none;
  padding: 16px 52px 16px 52px;
  width: 100%;
  font-weight: 400;
  font-size: 18px;
  line-height: 23.44px;
  color: var(--beige);
  text-align: center;
  caret-color: var(--roso);
  transition: 0.3s;
}
.inizioSessione .inizioSessioneContenuto .accedi .modulo .inputContenitore input::placeholder {
  font-weight: 400;
  font-size: 18px;
  line-height: 23.44px;
  color: #FCF3E680;
  text-align: center;
}
.inizioSessione .inizioSessioneContenuto .accedi .modulo .inputContenitore input:focus,
.inizioSessione .inizioSessioneContenuto .accedi .modulo .inputContenitore input:focus-visible {
  outline: none;
}
.inizioSessione .inizioSessioneContenuto .accedi .modulo .passwordDimenticataTesto {
  margin-top: 15px;
  font-weight: 400;
  font-size: 15px;
  line-height: 19.53px;
  color: #FCF3E699;
}
.inizioSessione .inizioSessioneContenuto .accedi .modulo .passwordDimenticataTesto .clicca {
  color: var(--roso);
  cursor: pointer;
}
.inizioSessione .inizioSessioneContenuto .accedi .azioni {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  min-height: 122px;
}
.inizioSessione .inizioSessioneContenuto .registrati {
  padding-bottom: 67px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  display: none;
}
.inizioSessione .inizioSessioneContenuto .registrati.attivato {
  display: block;
}
.inizioSessione .inizioSessioneContenuto .registrati .modalitaRegistrazione {
  display: flex;
  height: calc(100% - 122px);
  align-items: center;
  justify-content: center;
  width: 100%;
  flex-direction: column;
}
.inizioSessione .inizioSessioneContenuto .registrati .modalitaRegistrazione .pulsanteRegistrazione {
  background-color: #FCF3E61A;
  border: none;
  padding: 16px;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  gap: 20px;
  margin-bottom: 30px;
  border-radius: 20px;
  transition: 0.3s;
}
.inizioSessione .inizioSessioneContenuto .registrati .modalitaRegistrazione .pulsanteRegistrazione:focus,
.inizioSessione .inizioSessioneContenuto .registrati .modalitaRegistrazione .pulsanteRegistrazione:focus-visible {
  outline: none;
}
.inizioSessione .inizioSessioneContenuto .registrati .modalitaRegistrazione .pulsanteRegistrazione:hover {
  background-color: var(--beige);
}
.inizioSessione .inizioSessioneContenuto .registrati .modalitaRegistrazione .pulsanteRegistrazione:hover .icon.email {
  color: var(--nero);
}
.inizioSessione .inizioSessioneContenuto .registrati .modalitaRegistrazione .pulsanteRegistrazione:hover .testoPulsante {
  color: var(--nero);
}
.inizioSessione .inizioSessioneContenuto .registrati .modalitaRegistrazione .pulsanteRegistrazione .icon {
  transition: none;
}
.inizioSessione .inizioSessioneContenuto .registrati .modalitaRegistrazione .pulsanteRegistrazione .icon.email {
  color: var(--beige);
}
.inizioSessione .inizioSessioneContenuto .registrati .modalitaRegistrazione .pulsanteRegistrazione .testoPulsante {
  font-weight: 400;
  font-size: 18px;
  line-height: 20px;
  color: var(--beige);
}
.inizioSessione .inizioSessioneContenuto .registrati .azioni {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  min-height: 122px;
}
.inizioSessione .inizioSessioneContenuto .registrati .azioni .haiGiaAccount {
  margin-top: 15px;
  font-weight: 400;
  font-size: 15px;
  line-height: 19.53px;
  color: #FCF3E699;
}
.inizioSessione .inizioSessioneContenuto .registrati .azioni .haiGiaAccount .accediTesto {
  color: var(--roso);
  cursor: pointer;
}
.inizioSessione .inizioSessioneContenuto .registrati .popUpGoogle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 234px;
  background-color: #434445;
  padding: 19px 0 0 0;
  border-radius: 15px;
  overflow: hidden;
  display: none;
  opacity: 0;
}
.inizioSessione .inizioSessioneContenuto .registrati .popUpGoogle.attivato {
  display: block;
}
.inizioSessione .inizioSessioneContenuto .registrati .popUpGoogle.mostrare {
  opacity: 1;
  animation: animazioneSpettacolo;
  animation-duration: 0.5s;
}
.inizioSessione .inizioSessioneContenuto .registrati .popUpGoogle.nascondere {
  opacity: 0;
  animation: animazioneNascondere;
  animation-duration: 0.5s;
}
.inizioSessione .inizioSessioneContenuto .registrati .popUpGoogle .titolo {
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: var(--bianco);
  text-align: center;
  letter-spacing: -0.41px;
  margin-bottom: 2px;
  padding: 0 16px;
}
.inizioSessione .inizioSessioneContenuto .registrati .popUpGoogle .sottotitolo {
  font-weight: 400;
  font-size: 13px;
  line-height: 22px;
  color: #FFFFFF80;
  text-align: center;
  letter-spacing: -0.8px;
  padding: 0 16px;
  margin-bottom: 17px;
}
.inizioSessione .inizioSessioneContenuto .registrati .popUpGoogle .azioniPopUp {
  display: inline-flex;
  width: 100%;
  justify-content: center;
  border-top: 1px solid #FFFFFF4D;
}
.inizioSessione .inizioSessioneContenuto .registrati .popUpGoogle .azioniPopUp .pulsantePopUp {
  width: 50%;
  border: none;
  background-color: #0000;
  color: #0A84FF;
  font-weight: 400;
  font-size: 17px;
  line-height: 22px;
  letter-spacing: -0.41px;
  padding: 11px;
}
.inizioSessione .inizioSessioneContenuto .google {
  width: 100%;
  height: 100vh;
  background-color: var(--bianco);
  position: fixed;
}
.inizioSessione .inizioSessioneContenuto .google.scegliAccountGoogle {
  left: 0;
  top: 100vh;
  z-index: 10;
}
.inizioSessione .inizioSessioneContenuto .google.scegliAccountGoogle.mostrare {
  top: 0;
  animation: animazioneMostrareScegliAccountGoogle;
  animation-duration: 0.5s;
}
.inizioSessione .inizioSessioneContenuto .google.scegliAccountGoogle.nascondere {
  top: 100vh;
  animation: animazioneNascondereScegliAccountGoogle;
  animation-duration: 0.5s;
}
.inizioSessione .inizioSessioneContenuto .google.accediAccountGoogle {
  left: 100vw;
  top: 0;
  z-index: 10;
}
.inizioSessione .inizioSessioneContenuto .google.accediAccountGoogle.mostrare {
  left: 0;
  animation: animazioneMostrareAccediAccountGoogle;
  animation-duration: 0.5s;
}
.inizioSessione .inizioSessioneContenuto .google.accediAccountGoogle.nascondere {
  left: 100vw;
  animation: animazioneNascondereAccediAccountGoogle;
  animation-duration: 0.5s;
}
.inizioSessione .inizioSessioneContenuto .google.accediAccountGoogle.annula {
  top: 100vh;
  animation: animazioneAnnulaAccediAccountGoogle;
  animation-duration: 0.5s;
}
.inizioSessione .inizioSessioneContenuto .google .headerGoogle {
  background-color: #F1F1F1;
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 13px 16px;
  border-bottom: 1px solid #C1C1C180;
}
.inizioSessione .inizioSessioneContenuto .google .headerGoogle .pulsanteGoogle {
  background-color: #0000;
  color: var(--bluGoogle);
  font-size: 16px;
  line-height: 20px;
  padding: 0;
  border: none;
  align-items: center;
}
.inizioSessione .inizioSessioneContenuto .google .headerGoogle .urlGoogle {
  display: flex;
  align-items: center;
  gap: 3.5px;
}
.inizioSessione .inizioSessioneContenuto .google .headerGoogle .urlGoogle p {
  font-weight: 500;
  font-size: 16px;
  line-height: 19.09px;
}
.inizioSessione .inizioSessioneContenuto .google .headerGoogle .iconsGoogle {
  display: flex;
  align-items: center;
  gap: 29px;
}
.inizioSessione .inizioSessioneContenuto .google .titoloAccediGoogle {
  display: inline-flex;
  align-items: center;
  width: 100%;
  gap: 12px;
  padding: 11px 16px;
  border-bottom: 1px solid #C1C1C1;
}
.inizioSessione .inizioSessioneContenuto .google .titoloAccediGoogle p {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
}
.inizioSessione .inizioSessioneContenuto .google .corpoGoogle {
  padding: 40px 38px;
}
.inizioSessione .inizioSessioneContenuto .google .corpoGoogle .logoAllerGo {
  height: 39px;
  width: auto;
  margin-bottom: 40px;
}
.inizioSessione .inizioSessioneContenuto .google .corpoGoogle .titoloGoogle {
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
  color: #202124;
  margin-bottom: 10px;
}
.inizioSessione .inizioSessioneContenuto .google .corpoGoogle .sottotitoloGoogle {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #202124;
  margin-bottom: 40px;
}
.inizioSessione .inizioSessioneContenuto .google .corpoGoogle .sottotitoloGoogle .appNome {
  color: var(--bluGoogle);
}
.inizioSessione .inizioSessioneContenuto .google .corpoGoogle .accountSelezionato {
  padding: 4px 13px 4px 4px;
  border: 1px solid #9E9E9E;
  border-radius: 15px;
  display: inline-flex;
  align-items: center;
  gap: 10px;
  margin-top: 7px;
}
.inizioSessione .inizioSessioneContenuto .google .corpoGoogle .accountSelezionato .iniziale {
  height: 22px;
  width: 22px;
  border-radius: 50%;
  background-color: #7B1FA2;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--bianco);
  font-weight: 400;
  font-size: 14px;
}
.inizioSessione .inizioSessioneContenuto .google .corpoGoogle .accountSelezionato .email {
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
}
.inizioSessione .inizioSessioneContenuto .google .corpoGoogle .accountSelezionato + .privacy {
  margin-top: 40px;
}
.inizioSessione .inizioSessioneContenuto .google .corpoGoogle .azioniGoogle {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 19px;
  margin-top: 40px;
}
.inizioSessione .inizioSessioneContenuto .google .corpoGoogle .azioniGoogle .pulsanteGoogleAccount {
  display: block;
  width: 50%;
  border-radius: 15px;
  border: 1px solid #9E9E9E;
  padding: 7px;
  text-align: center;
  background-color: var(--bianco);
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  color: var(--bluGoogle);
}
.inizioSessione .inizioSessioneContenuto .google .corpoGoogle .utenti {
  margin-bottom: 50px;
}
.inizioSessione .inizioSessioneContenuto .google .corpoGoogle .utenti .utente {
  display: flex;
  align-items: center;
  width: 100%;
  gap: 17px;
  margin-bottom: 12px;
  padding-bottom: 12px;
  border-bottom: 1px solid #C1C1C1;
  cursor: pointer;
}
.inizioSessione .inizioSessioneContenuto .google .corpoGoogle .utenti .utente .iniziale {
  height: 28px;
  width: 28px;
  border-radius: 50%;
  background-color: #7B1FA2;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--bianco);
  font-weight: 400;
  font-size: 15px;
  line-height: 17.58px;
}
.inizioSessione .inizioSessioneContenuto .google .corpoGoogle .utenti .utente .informazioniUtente .nomeUtente {
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
}
.inizioSessione .inizioSessioneContenuto .google .corpoGoogle .utenti .utente .informazioniUtente .mailUtente {
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: #5F6368;
}
.inizioSessione .inizioSessioneContenuto .google .corpoGoogle .utenti .altroAccount {
  display: flex;
  align-items: center;
  width: 100%;
  gap: 17px;
  margin-bottom: 12px;
  padding-bottom: 12px;
  border-bottom: 1px solid #C1C1C1;
}
.inizioSessione .inizioSessioneContenuto .google .corpoGoogle .utenti .altroAccount .iconAccount {
  margin-left: 6px;
}
.inizioSessione .inizioSessioneContenuto .google .corpoGoogle .utenti .altroAccount .altroAccountTesto {
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
}
.inizioSessione .inizioSessioneContenuto .google .corpoGoogle .privacy {
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
}
.inizioSessione .inizioSessioneContenuto .google .corpoGoogle .privacy .collegamento {
  color: var(--bluGoogle);
}
.inizioSessione .inizioSessioneContenuto .google .footerGoogle {
  position: absolute;
  bottom: 0;
  width: 100%;
}
.inizioSessione .inizioSessioneContenuto .google .footerGoogle .collegamentiFooterGoogle {
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0 21px;
  padding-bottom: 13px;
  border-bottom: 1px solid #C1C1C180;
}
.inizioSessione .inizioSessioneContenuto .google .footerGoogle .collegamentiFooterGoogle .lingua {
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  width: 137px;
  padding: 8px 16px;
}
.inizioSessione .inizioSessioneContenuto .google .footerGoogle .collegamentiFooterGoogle .lingua p {
  font-weight: 400;
  font-size: 12px;
  line-height: 16.8px;
  color: #202124;
}
.inizioSessione .inizioSessioneContenuto .google .footerGoogle .collegamentiFooterGoogle .collegamenti {
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
}
.inizioSessione .inizioSessioneContenuto .google .footerGoogle .collegamentiFooterGoogle .collegamenti .collegamento {
  padding: 6px 8px;
  font-weight: 500;
  font-size: 12px;
  line-height: 16.8px;
  color: #757575;
}
.inizioSessione .inizioSessioneContenuto .google .footerGoogle .navFooterGoogle {
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  background-color: #F1F1F1;
  width: 100%;
  padding: 20px 38px 50px 38px;
}
.inizioSessione .inizioSessioneContenuto .google .footerGoogle .navFooterGoogle .frecce {
  width: 84px;
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
}
.inizioSessione .inizioSessioneContenuto .passwordDimenticata {
  padding-bottom: 67px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  display: none;
}
.inizioSessione .inizioSessioneContenuto .passwordDimenticata.attivato {
  display: block;
}
.inizioSessione .inizioSessioneContenuto .passwordDimenticata .modulo {
  display: flex;
  height: calc(100% - 122px);
  align-items: center;
  justify-content: center;
  width: 100%;
  flex-direction: column;
}
.inizioSessione .inizioSessioneContenuto .passwordDimenticata .modulo .inputContenitore {
  width: 100%;
  margin-bottom: 15px;
}
.inizioSessione .inizioSessioneContenuto .passwordDimenticata .modulo .inputContenitore span {
  font-weight: 400;
  font-size: 15px;
  color: var(--nero);
  display: block;
  margin-bottom: 15px;
  text-align: center;
}
.inizioSessione .inizioSessioneContenuto .passwordDimenticata .modulo .inputContenitore input {
  background-color: #0000001A;
  border-radius: 20px;
  border: none;
  padding: 16px 52px 16px 52px;
  width: 100%;
  font-weight: 400;
  font-size: 18px;
  line-height: 23.44px;
  color: var(--nero);
  text-align: center;
  caret-color: var(--roso);
  transition: 0.3s;
}
.inizioSessione .inizioSessioneContenuto .passwordDimenticata .modulo .inputContenitore input::placeholder {
  font-weight: 400;
  font-size: 18px;
  line-height: 23.44px;
  color: #00000073;
  text-align: center;
}
.inizioSessione .inizioSessioneContenuto .passwordDimenticata .modulo .inputContenitore input:focus,
.inizioSessione .inizioSessioneContenuto .passwordDimenticata .modulo .inputContenitore input:focus-visible {
  outline: none;
}
.inizioSessione .inizioSessioneContenuto .passwordDimenticata .modulo .didascalia {
  margin-top: 15px;
  font-weight: 400;
  font-size: 15px;
  line-height: 19.53px;
  color: #00000073;
  text-align: center;
}
.inizioSessione .inizioSessioneContenuto .passwordDimenticata .azioni {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  min-height: 122px;
}
@keyframes animazioneSpettacolo {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes animazioneNascondere {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes animazioneMostrareScegliAccountGoogle {
  0% {
    top: 100vh;
  }
  100% {
    top: 0;
  }
}
@keyframes animazioneNascondereScegliAccountGoogle {
  0% {
    top: 0;
  }
  100% {
    top: 100vh;
  }
}
@keyframes animazioneMostrareAccediAccountGoogle {
  0% {
    left: 100vw;
  }
  100% {
    left: 0;
  }
}
@keyframes animazioneNascondereAccediAccountGoogle {
  0% {
    left: 0;
  }
  100% {
    left: 100vw;
  }
}
@keyframes animazioneAnnulaAccediAccountGoogle {
  0% {
    top: 0;
  }
  100% {
    top: 100vh;
  }
}
