.schede .schedeContenuto {
  padding-top: 23px;
  margin-bottom: 110px;
}
.schede .schedeContenuto .tueSchede {
  display: inline-flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 44px;
}
.schede .schedeContenuto .tueSchede .tueSchedeTesto {
  font-weight: 700;
  font-size: 20px;
  line-height: 26.04px;
}
.schede .schedeContenuto .tueSchede .configurazionePulsante {
  background-color: #D9D9D9;
  border: none;
  width: 42px;
  height: 42px;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.3s;
}
.schede .schedeContenuto .tueSchede .configurazionePulsante .icon {
  color: var(--nero);
  transition: 0.3s;
}
.schede .schedeContenuto .tueSchede .configurazionePulsante:hover {
  background-color: var(--nero);
}
.schede .schedeContenuto .tueSchede .configurazionePulsante:hover .icon {
  color: var(--roso);
}
.schede .schedeContenuto .profili {
  position: relative;
  margin-bottom: 32px;
}
.schede .schedeContenuto .profili .profilo {
  padding: 15px 38px 31px 38px;
  width: 100%;
  min-height: 229px;
  border-radius: 50px;
  position: relative;
}
.schede .schedeContenuto .profili .profilo.terziario {
  background-color: #F08D93;
  z-index: 10;
}
.schede .schedeContenuto .profili .profilo.secondario {
  background-color: #F35059;
  z-index: 20;
  margin-top: -114px;
}
.schede .schedeContenuto .profili .profilo.primario {
  background-color: var(--roso);
  z-index: 30;
  margin-top: -114px;
}
.schede .schedeContenuto .profili .profilo.primario .nomeContenuto {
  border-bottom: 1px solid var(--beige);
}
.schede .schedeContenuto .profili .profilo .nomeContenuto {
  display: inline-flex;
  width: 100%;
  gap: 37px;
  align-items: center;
}
.schede .schedeContenuto .profili .profilo .nomeContenuto .iniziale {
  font-family: 'Blenny';
  font-size: 68px;
  color: var(--beige);
}
.schede .schedeContenuto .profili .profilo .nomeContenuto .nome {
  font-weight: 400;
  font-size: 25px;
  line-height: 32.55px;
  color: var(--beige);
}
.schede .schedeContenuto .profili .profilo .condividerePulsante {
  position: absolute;
  top: 43px;
  right: 38px;
  background-color: var(--roso);
  border: none;
}
.schede .schedeContenuto .profili .profilo .datiAllergie {
  margin-top: 22px;
}
.schede .schedeContenuto .profili .profilo .datiAllergie .nomeAllergie {
  font-weight: 900;
  font-size: 18px;
  line-height: 23.44px;
  color: var(--beige);
}
.schede .schedeContenuto .profili .profilo .datiAllergie .dettaglioAllergia {
  font-weight: 400;
  font-size: 18px;
  line-height: 23.44px;
  color: var(--beige);
}
.schede .schedeContenuto .profili .profilo .vediProfiloPulsante {
  background-color: var(--roso);
  border: none;
  position: absolute;
  right: 38px;
  bottom: 36px;
  display: block;
}
.schede .schedeContenuto .profili .profilo .vediProfiloPulsante .icon {
  color: var(--beige);
  height: 16px;
  width: 8px;
  transition: 0.3s;
}
.schede .schedeContenuto .profili .profilo .vediProfiloPulsante:hover .icon {
  color: var(--nero);
}
.schede .schedeContenuto .ulteriorePulsante {
  background-color: #D9D9D9;
  border: none;
  width: 42px;
  height: 42px;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.3s;
  margin: 0 auto;
}
.schede .schedeContenuto .ulteriorePulsante .icon {
  color: var(--nero);
  transition: 0.3s;
}
.schede .schedeContenuto .ulteriorePulsante:hover {
  background-color: var(--nero);
}
.schede .schedeContenuto .ulteriorePulsante:hover .icon {
  color: var(--roso);
}
